<ion-view title="{{foto.name}}" id="page58">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="{{foto.id}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <div id="atutorial-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{foto.pre}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <div id="atutorial-markdown332" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{foto.description}}</p>
    </div>
    <div id="atutorial-markdown333" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{foto.descr1}}</p>
    </div>
    <div id="atutorial-markdown334" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{foto.descr2}}</p>
    </div>
    <div id="atutorial-markdown335" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{foto.descr3}}</p>
    </div>
  </ion-content>
</ion-view>