<ion-view title="{{video.name}}" id="page13">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <ion-list id="btutorial-list24">
      <ion-item class="item-thumbnail-left" id="btutorial-list-item29" href-inappbrowser="{{video.id}}">
        <img src="{{video.image}}">
        <p style="white-space:normal;">{{video.name}}</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <div id="btutorial-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{video.description}}</p>
    </div>
  </ion-content>
</ion-view>