<ion-view title="{{video.name}}" id="page19">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <ion-list id="ctutorial-list28">
      <ion-item class="item-thumbnail-left" id="ctutorial-list-item33" href-inappbrowser="{{video.id}}">
        <img src="{{video.image}}">
        <p style="white-space:normal;">{{video.name}}</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <div id="ctutorial-markdown50" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{video.description}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 38px;"></div>
  </ion-content>
</ion-view>