<ion-view title="{{video.name}}" id="page24">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <ion-list id="dtutorial-list29">
      <ion-item class="item-thumbnail-left" id="dtutorial-list-item34" href-inappbrowser="{{video.id}}">
        <img src="{{video.image}}">
        <h2>{{video.name}}</h2>
        <p style="white-space:normal;">{{video.description}}</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <div id="dtutorial-markdown235" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{video.long_descr}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 38px;"></div>
  </ion-content>
</ion-view>