<ion-view title="{{video.name}}" id="page25">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <ion-list id="etutorial-list30">
      <ion-item class="item-thumbnail-left" id="etutorial-list-item35" href-inappbrowser="{{video.id}}">
        <img src="{{video.image}}">
        <p style="white-space:normal;">{{video.name}}</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <div id="etutorial-markdown232" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{video.description}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <div id="etutorial-markdown233" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{video.long_descr}}</p>
    </div>
  </ion-content>
</ion-view>