<ion-view title="{{video.name}}" cache-view="false" id="page33">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <ion-list id="gtutorial-list34">
      <ion-item class="item-thumbnail-left" id="gtutorial-list-item40" href-inappbrowser="{{video.id}}">
        <img src="{{video.image}}">
        <h2>{{video.description}}</h2>
        <p style="white-space:normal;">{{video.name}}</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div id="gtutorial-markdown110" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{video.long_descr}}</p>
    </div>
  </ion-content>
</ion-view>