<ion-view title="Impara l'italiano2" id="page40">
  <ion-content padding="true" class="has-header">
    <div id="imparaLItaliano2-markdown169" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">{{message.que1}}
        <strong>{{data.choice1}}</strong> {{message.que4}}</p>
    </div>
    <form id="imparaLItaliano2-form41" class="list">
      <label class="item item-select" id="imparaLItaliano2-select22">
        <span class="input-label">Select</span>
        <select ng-repeat="message in messages" ng-model="data.choice1">
          <option></option>
          <option>{{message.ans10}}</option>
          <option>{{message.ans11}}</option>
          <option>{{message.ans12}}</option>
          <option>{{message.ans13}}</option>
          <option>{{message.ans14}}</option>
        </select>
      </label>
    </form>
    <div id="imparaLItaliano2-markdown170" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">{{message.que2}}
        <strong>{{data.choice2}}</strong> {{message.que5}}</p>
    </div>
    <form id="imparaLItaliano2-form42" class="list">
      <label class="item item-select" id="imparaLItaliano2-select23">
        <span class="input-label">Select</span>
        <select ng-repeat="message in messages" ng-model="data.choice2">
          <option></option>
          <option>{{message.ans20}}</option>
          <option>{{message.ans21}}</option>
          <option>{{message.ans22}}</option>
          <option>{{message.ans23}}</option>
          <option>{{message.ans24}}</option>
        </select>
      </label>
    </form>
    <div id="imparaLItaliano2-markdown171" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">{{message.que3}}
        <strong>{{data.choice3}}</strong> {{message.que6}}</p>
    </div>
    <form id="imparaLItaliano2-form43" class="list">
      <label class="item item-select" id="imparaLItaliano2-select24">
        <span class="input-label">Select</span>
        <select ng-repeat="message in messages" ng-model="data.choice3">
          <option></option>
          <option>{{message.ans30}}</option>
          <option>{{message.ans31}}</option>
          <option>{{message.ans32}}</option>
          <option>{{message.ans33}}</option>
          <option>{{message.ans34}}</option>
        </select>
      </label>
    </form>
    <div id="imparaLItaliano2-markdown172" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">{{message.que7}}
        <strong>{{data.choice4}}</strong> {{message.que8}}</p>
    </div>
    <form id="imparaLItaliano2-form44" class="list">
      <label class="item item-select" id="imparaLItaliano2-select25">
        <span class="input-label">Select</span>
        <select ng-repeat="message in messages" ng-model="data.choice4">
          <option></option>
          <option>{{message.ans40}}</option>
          <option>{{message.ans41}}</option>
          <option>{{message.ans42}}</option>
          <option>{{message.ans43}}</option>
          <option>{{message.ans44}}</option>
        </select>
      </label>
    </form>
    <div id="imparaLItaliano2-markdown173" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">{{message.que9}}
        <strong>{{data.choice5}}</strong> {{message.que10}}</p>
    </div>
    <form id="imparaLItaliano2-form45" class="list">
      <label class="item item-select" id="imparaLItaliano2-select26">
        <span class="input-label">Select</span>
        <select ng-repeat="message in messages" ng-model="data.choice5">
          <option></option>
          <option>{{message.ans50}}</option>
          <option>{{message.ans51}}</option>
          <option>{{message.ans52}}</option>
          <option>{{message.ans53}}</option>
          <option>{{message.ans54}}</option>
        </select>
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 45px;"></div>
    <a ui-sref="soluzioni2({&quot;choice1&quot;:&quot;&quot;+data.choice1+&quot;&quot;,&quot;choice2&quot;:&quot;&quot;+data.choice2+&quot;&quot;,&quot;choice3&quot;:&quot;&quot;+data.choice3+&quot;&quot;,&quot;choice4&quot;:&quot;&quot;+data.choice4+&quot;&quot;,&quot;choice5&quot;:&quot;&quot;+data.choice5+&quot;&quot;})"
      id="imparaLItaliano2-button23" class="button button-dark button-block">Vedi i risultati</a>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>