<ion-view title="{{video.name}}" cache-view="false" id="page36">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <ion-list id="itutorial-list37">
      <ion-item class="item-thumbnail-left" id="itutorial-list-item44" href-inappbrowser="{{video.id}}">
        <img src="{{video.image}}">
        <h2>{{video.name}}</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div id="itutorial-markdown111" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{video.long_descr}}</p>
    </div>
  </ion-content>
</ion-view>