<ion-view title="{{video.name}}" id="page57">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <ion-list id="ntutorial-list25">
      <ion-item class="item-thumbnail-left" id="ntutorial-list-item30" href-inappbrowser="{{video.id}}">
        <img src="{{video.image}}">
        <p style="white-space:normal;">{{video.name}}</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <div id="ntutorial-markdown47" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{video.description}}</p>
    </div>
  </ion-content>
</ion-view>