<ion-view title="漁樂新視界" id="page17">
  <ion-content padding="false" class="has-header">
    <form id="page17-form9" class="list">
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider18" delegate-handle="slider18" id="page17-slider18" style="width:100%;height:200px;">
        <ion-slide-page id="page17-slide236" style="background:url(&quot;img/gdsaZ3obRb2M1LPWMtqV_Fi_2.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="page17-slide237" style="background:url(&quot;img/M058HBBJTve7v0CJkbiC_Fi_1.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="page17-slide238" style="background:url(&quot;img/zFGYaWETLaHcLaqh3fje_Fi_0.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
      <div class="spacer" style="width: 320px; height: 23px;"></div>
      <label class="item item-input" id="page17-search4">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="data.search" ng-change="search()">
      </label>
    </form>
    <a ui-sref="quiz()" id="page17-button10" class="button button-positive button-block">New quiz! 嘗試新的測驗!</a>
    <ion-list id="page17-list44" class="dodgerblue-background">
      <ion-item class="item-thumbnail-left stable" id="page17-list-item59" ui-sref="ntutorial({&quot;videokey&quot;:&quot;&quot;+ntutorial.key+&quot;&quot;})" ng-repeat="ntutorial in narrowed_ntutorials">
        <img src="{{ntutorial.image}}">
        <h2stable>{{ntutorial.name}}
          <p style="white-space:normal;">{{ntutorial.descr}}</p>
        </h2stable>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>