<ion-view title="教宗意向​" id="page3">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/POP1.JPGaltmediatoken81f53ba6-9c84-40d9-8905-3d3b8c4921d4" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-refresher pulling-text="欲更新內容，請拉下指令列..." on-refresh="loadData()"></ion-refresher>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div id="page3-markdown5" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#E98E1A;font-size:17px;">{{survey.dodicifirstday}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div id="page3-markdown32" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#33948A;font-size:12px;">{{survey.quantum_1}} 人跟您一起祈禱</p>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div id="page3-markdown250" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.dodicifavorite_uni}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <div id="page3-markdown27" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.dodiciuniversal}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <div id="page3-markdown245" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.dodicifavorite_eva}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 16px;"></div>
    <div id="page3-markdown244" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.dodicievangelization}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div id="page3-markdown253" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.dodicimonthprayer}}</p>
    </div>
    <div id="page3-markdown8" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.dodicipn}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <div id="page3-markdown43" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#44AC36;">
        <strong>跟教宗一起祈禱</strong>
      </p>
    </div>
    <div id="page3-markdown251" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#E98E1A;font-size:17px;">{{survey.undicifirstday}}</p>
    </div>
    <div id="page3-markdown252" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.undicifavorite_uni}}</p>
    </div>
    <div id="page3-markdown257" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.undiciuniversal}}</p>
    </div>
    <div id="page3-markdown258" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.undicifavorite_eva}}</p>
    </div>
    <div id="page3-markdown259" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.undicievangelization}}</p>
    </div>
    <div id="page3-markdown260" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.undicimonthprayer}}</p>
    </div>
    <div id="page3-markdown261" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.undicipn}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <div id="page3-markdown268" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#E98E1A;font-size:17px;">{{survey.diecifirstday}}</p>
    </div>
    <div id="page3-markdown267" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.diecifavorite_uni}}</p>
    </div>
    <div id="page3-markdown266" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.dieciuniversal}}</p>
    </div>
    <div id="page3-markdown265" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.diecifavorite_eva}}</p>
    </div>
    <div id="page3-markdown264" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.diecievangelization}}</p>
    </div>
    <div id="page3-markdown263" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.diecimonthprayer}}</p>
    </div>
    <div id="page3-markdown262" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.diecipn}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <div id="page3-markdown275" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#E98E1A;font-size:17px;">{{survey.novefirstday}}</p>
    </div>
    <div id="page3-markdown274" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.novefavorite_uni}}</p>
    </div>
    <div id="page3-markdown273" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.noveuniversal}}</p>
    </div>
    <div id="page3-markdown272" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.novefavorite_eva}}</p>
    </div>
    <div id="page3-markdown271" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.noveevangelization}}</p>
    </div>
    <div id="page3-markdown270" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.novemonthprayer}}</p>
    </div>
    <div id="page3-markdown269" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.novepn}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <div id="page3-markdown282" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#E98E1A;font-size:17px;">{{survey.ottofirstday}}</p>
    </div>
    <div id="page3-markdown281" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.ottofavorite_uni}}</p>
    </div>
    <div id="page3-markdown280" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.ottouniversal}}</p>
    </div>
    <div id="page3-markdown279" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.ottofavorite_eva}}</p>
    </div>
    <div id="page3-markdown278" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.ottoevangelization}}</p>
    </div>
    <div id="page3-markdown277" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.ottomonthprayer}}</p>
    </div>
    <div id="page3-markdown276" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.ottopn}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <div id="page3-markdown289" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#E98E1A;font-size:17px;">{{survey.settefirstday}}</p>
    </div>
    <div id="page3-markdown288" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.settefavorite_uni}}</p>
    </div>
    <div id="page3-markdown287" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.setteuniversal}}</p>
    </div>
    <div id="page3-markdown293" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.settefavorite_eva}}</p>
    </div>
    <div id="page3-markdown285" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.setteevangelization}}</p>
    </div>
    <div id="page3-markdown284" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.settemonthprayer}}</p>
    </div>
    <div id="page3-markdown283" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.settepn}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <div id="page3-markdown296" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#E98E1A;font-size:17px;">{{survey.seifirstday}}</p>
    </div>
    <div id="page3-markdown295" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.seifavorite_uni}}</p>
    </div>
    <div id="page3-markdown294" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.seiuniversal}}</p>
    </div>
    <div id="page3-markdown286" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.seifavorite_eva}}</p>
    </div>
    <div id="page3-markdown292" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.seievangelization}}</p>
    </div>
    <div id="page3-markdown291" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.seimonthprayer}}</p>
    </div>
    <div id="page3-markdown290" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.seipn}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <div id="page3-markdown303" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#E98E1A;font-size:17px;">{{survey.cinquefirstday}}</p>
    </div>
    <div id="page3-markdown302" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.cinquefavorite_uni}}</p>
    </div>
    <div id="page3-markdown301" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.cinqueuniversal}}</p>
    </div>
    <div id="page3-markdown300" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.cinquefavorite_eva}}</p>
    </div>
    <div id="page3-markdown299" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.cinqueevangelization}}</p>
    </div>
    <div id="page3-markdown298" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.cinquemonthprayer}}</p>
    </div>
    <div id="page3-markdown297" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.cinquepn}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <div id="page3-markdown310" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#E98E1A;font-size:17px;">{{survey.quattrofirstday}}</p>
    </div>
    <div id="page3-markdown309" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.quattrofavorite_uni}}</p>
    </div>
    <div id="page3-markdown308" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.quattrouniversal}}</p>
    </div>
    <div id="page3-markdown307" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.quattrofavorite_eva}}</p>
    </div>
    <div id="page3-markdown306" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.quattroevangelization}}</p>
    </div>
    <div id="page3-markdown305" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.quattromonthprayer}}</p>
    </div>
    <div id="page3-markdown304" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.quattropn}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <div id="page3-markdown317" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#E98E1A;font-size:17px;">{{survey.trefirstday}}</p>
    </div>
    <div id="page3-markdown316" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.trefavorite_uni}}</p>
    </div>
    <div id="page3-markdown315" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.treuniversal}}</p>
    </div>
    <div id="page3-markdown314" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.trefavorite_eva}}</p>
    </div>
    <div id="page3-markdown313" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.treevangelization}}</p>
    </div>
    <div id="page3-markdown312" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.tremonthprayer}}</p>
    </div>
    <div id="page3-markdown311" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.trepn}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <div id="page3-markdown324" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#E98E1A;font-size:17px;">{{survey.duefirstday}}</p>
    </div>
    <div id="page3-markdown323" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.duefavorite_uni}}</p>
    </div>
    <div id="page3-markdown322" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.dueuniversal}}</p>
    </div>
    <div id="page3-markdown321" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.duefavorite_eva}}</p>
    </div>
    <div id="page3-markdown320" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.dueevangelization}}</p>
    </div>
    <div id="page3-markdown319" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.duemonthprayer}}</p>
    </div>
    <div id="page3-markdown318" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.duepn}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <div id="page3-markdown331" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#E98E1A;font-size:17px;">{{survey.unofirstday}}</p>
    </div>
    <div id="page3-markdown330" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.unofavorite_uni}}</p>
    </div>
    <div id="page3-markdown329" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.unouniversal}}</p>
    </div>
    <div id="page3-markdown328" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.unofavorite_eva}}</p>
    </div>
    <div id="page3-markdown327" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.unoevangelization}}</p>
    </div>
    <div id="page3-markdown326" ng-repeat="survey in surveys" class="show-list-numbers-and-dots">
      <p style="color:#0F97F5;font-size:17px;">{{survey.unomonthprayer}}</p>
    </div>
    <div id="page3-markdown325" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{survey.unopn}}</p>
    </div>
  </ion-content>
</ion-view>