<ion-view title="測驗結果" cache-view="false" id="page26">
  <ion-content padding="true" class="has-header">
    <ion-refresher pulling-text="欲更新內容，請拉下指令列..." on-refresh="loadData()"></ion-refresher>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <div id="page26-markdown238" class="show-list-numbers-and-dots">
      <p style="color:#1E90E9;font-size:16px;">Oh my God 1 節目：</p>
    </div>
    <div id="page26-markdown239" class="show-list-numbers-and-dots">
      <p style="color:#F5A34B;font-size:17px;">回答:</p>
    </div>
    <ion-list id="page26-list19">
      <ion-item class="item-icon-left energized" id="page26-list-item23" ng-model="data.zhort" ng-show="data.zhort=='是'">
        <i class="icon ion-happy-outline"></i>{{data.zhort}}</ion-item>
      <ion-item class="item-icon-left calm" id="page26-list-item53" ng-model="data.zhort" ng-show="data.zhort!='是'">
        <i class="icon ion-sad-outline"></i>{{data.zhort}}</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <div id="page26-markdown126" class="show-list-numbers-and-dots">
      <p style="color:#1E90E9;font-size:16px;">漁樂新視界 節目：</p>
    </div>
    <div id="page26-markdown135" class="show-list-numbers-and-dots">
      <p style="color:#F5A34B;font-size:17px;">回答:</p>
    </div>
    <ion-list id="page26-list41">
      <ion-item class="item-icon-left energized" id="page26-list-item51" ng-model="data.size" ng-show="data.size=='是'">
        <i class="icon ion-happy-outline"></i>{{data.size}}</ion-item>
    </ion-list>
    <ion-list id="page26-list43">
      <ion-item class="item-icon-left calm" id="page26-list-item54" ng-model="data.size" ng-show="data.size!='是'">
        <i class="icon ion-sad-outline"></i>{{data.size}}</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <div id="page26-markdown134" class="show-list-numbers-and-dots">
      <p style="color:#1E90E9;font-size:16px;"> 生命相對論 節目：</p>
    </div>
    <div id="page26-markdown129" class="show-list-numbers-and-dots">
      <p style="color:#F5A34B;font-size:17px;">回答:</p>
    </div>
    <ion-list id="page26-list46">
      <ion-item class="item-icon-left energized" id="page26-list-item56" ng-model="data.tile" ng-show="data.tile=='是'">
        <i class="icon ion-happy-outline"></i>{{data.tile}}</ion-item>
    </ion-list>
    <ion-list id="page26-list47">
      <ion-item class="item-icon-left calm" id="page26-list-item58" ng-model="data.tile" ng-show="data.tile!='是'">
        <i class="icon ion-sad-outline"></i>{{data.tile}}</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <div id="page26-markdown140" class="show-list-numbers-and-dots">
      <p style="color:#1E90E9;font-size:16px;"> 光啟社經典節目 節目：</p>
    </div>
    <div id="page26-markdown141" class="show-list-numbers-and-dots">
      <p style="color:#F5A34B;font-size:17px;">回答:</p>
    </div>
    <ion-list id="page26-list10">
      <ion-item class="item-icon-left energized" id="page26-list-item61" ng-model="data.sile" ng-show="data.sile=='是'">
        <i class="icon ion-happy-outline"></i>{{data.sile}}</ion-item>
    </ion-list>
    <ion-list id="page26-list45">
      <ion-item class="item-icon-left calm" id="page26-list-item62" ng-model="data.sile" ng-show="data.sile!='是'">
        <i class="icon ion-sad-outline"></i>{{data.sile}}</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <div id="page26-markdown144" class="show-list-numbers-and-dots">
      <p style="color:#1E90E9;font-size:16px;"> 徐光啟和郎世寧節目 節目：</p>
    </div>
    <div id="page26-markdown145" class="show-list-numbers-and-dots">
      <p style="color:#F5A34B;font-size:17px;">回答:</p>
    </div>
    <ion-list id="page26-list48">
      <ion-item class="item-icon-left energized" id="page26-list-item63" ng-model="data.kile" ng-show="data.kile=='是'">
        <i class="icon ion-happy-outline"></i>{{data.kile}}</ion-item>
    </ion-list>
    <ion-list id="page26-list49">
      <ion-item class="item-icon-left calm" id="page26-list-item67" ng-model="data.kile" ng-show="data.kile!='是'">
        <i class="icon ion-sad-outline"></i>{{data.kile}}</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <div id="page26-markdown138" class="show-list-numbers-and-dots">
      <p style="color:#1E90E9;font-size:16px;">台灣的美麗 節目：</p>
    </div>
    <div id="page26-markdown151" class="show-list-numbers-and-dots">
      <p style="color:#F5A34B;font-size:17px;">回答:</p>
    </div>
    <ion-list id="page26-list50">
      <ion-item class="item-icon-left energized" id="page26-list-item52" ng-model="data.lile" ng-show="data.lile=='是'">
        <i class="icon ion-happy-outline"></i>{{data.lile}}</ion-item>
    </ion-list>
    <ion-list id="page26-list51">
      <ion-item class="item-icon-left calm" id="page26-list-item60" ng-model="data.lile" ng-show="data.lile!='是'">
        <i class="icon ion-sad-outline"></i>{{data.lile}}</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <div id="page26-markdown150" class="show-list-numbers-and-dots">
      <p style="color:#1E90E9;font-size:16px;">大朋友分享 節目：</p>
    </div>
    <div id="page26-markdown139" class="show-list-numbers-and-dots">
      <p style="color:#F5A34B;font-size:17px;">回答:</p>
    </div>
    <ion-list id="page26-list55">
      <ion-item class="item-icon-left energized" id="page26-list-item68" ng-model="data.cile" ng-show="data.cile=='是'">
        <i class="icon ion-happy-outline"></i>{{data.cile}}</ion-item>
    </ion-list>
    <ion-list id="page26-list56">
      <ion-item class="item-icon-left calm" id="page26-list-item69" ng-model="data.cile" ng-show="data.cile!='是'">
        <i class="icon ion-sad-outline"></i>{{data.cile}}</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <div id="page26-markdown154" class="show-list-numbers-and-dots">
      <p style="color:#1E90E9;font-size:16px;">Oh my God 2 節目：</p>
    </div>
    <div id="page26-markdown155" class="show-list-numbers-and-dots">
      <p style="color:#F5A34B;font-size:17px;">回答:</p>
    </div>
    <ion-list id="page26-list42">
      <ion-item class="item-icon-left energized" id="page26-list-item74" ng-model="data.short" ng-show="data.short=='是'">
        <i class="icon ion-happy-outline"></i>{{data.short}}</ion-item>
      <ion-item class="item-icon-left calm" id="page26-list-item75" ng-model="data.short" ng-show="data.short!='是'">
        <i class="icon ion-sad-outline"></i>{{data.short}}</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 54px;"></div>
    <ion-list id="page26-list13">
      <ion-item class="item-icon-left dark" id="page26-list-item87" ng-show="data.zhort=='是' &amp;&amp; data.size=='是' &amp;&amp; data.tile=='是' &amp;&amp; data.sile=='是' &amp;&amp; data.kile=='是' &amp;&amp; data.lile=='是' &amp;&amp; data.short=='是' &amp;&amp; data.cile=='是'">
        <i class="icon ion-ionic"></i>厲害! 100%對的！</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 54px;"></div>
  </ion-content>
</ion-view>