<ion-view title="教宗和利瑪竇" id="page29">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="page29-slider2" style="width:calc(100% + 20px);height:200px;margin-left:-10px;">
      <ion-slide-page id="page29-slide25" ng-repeat="picture in pictures" style="background:url(&quot;{{picture}}&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="page29-markdown229" class="show-list-numbers-and-dots">
      <p style="color:#000000;">光啟社與江蘇電視台在這幾年陸續合作完成《徐光啟》、《湯若望》、《郎世寧》三部紀錄片，影片透過中央電視台等媒體播出讓數以千萬的海內外觀眾得以收看、了解天主教會在東方傳教的貢獻與發展，同時也獲得了許多國內外的優秀紀錄片製作獎項。</p>

      <p style="color:#000000;">先前光啟社代表獲教宗接見時，教宗鼓勵我們製作系列紀錄片，持續發揮媒體福傳的力量，而光啟社提出的「利瑪竇」紀錄片計畫，也獲得梵蒂岡的支持。</p>

      <p style="color:#000000;">讓我們一起跟隨教宗方濟各的腳步，善盡基督徒的福傳責任，以影音寫下天主教會的歷史。</p>
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
  </ion-content>
</ion-view>