<ion-view title="每日奉獻誦" id="page5">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/POP1.JPGaltmediatoken81f53ba6-9c84-40d9-8905-3d3b8c4921d4" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <div id="page5-markdown37" class="show-list-numbers-and-dots">
      <p style="color:#33948A;font-size:16px;">仁慈的天父</p>
    </div>
    <div id="page5-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#33948A;font-size:16px;">感謝祢恩賜這新的一天, 我把今天的一切祈禱、工作、喜樂和痛苦全獻給祢。</p>
    </div>
    <div id="page5-markdown38" class="show-list-numbers-and-dots">
      <p style="color:#33948A;font-size:16px;">聯合祢的聖子耶穌聖心，為救贖世界，時時刻刻在感恩聖事中奉獻自己。</p>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div id="page5-markdown31" class="show-list-numbers-and-dots">
      <p style="color:#33948A;font-size:16px;">願在聖神內</p>
    </div>
    <div id="page5-markdown46" class="show-list-numbers-and-dots">
      <p style="color:#33948A;font-size:16px;">偕同教會之母—聖母瑪利亞，為祢的聖愛作證，並為本月內教宗託付給我們的意向祈禱。</p>
    </div>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <div id="page5-markdown39" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#6A7EF1;font-size:17px;">{{survey.dodiciuniversal}}</p>
    </div>
    <div id="page5-markdown109" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#6A7EF1;font-size:17px;">{{survey.dodicievangelization}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 53px;"></div>
    <div id="page5-markdown49" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#22BD1C;">
        <strong>跟教宗一起祈禱</strong>
      </p>
    </div>
  </ion-content>
</ion-view>