<ion-view title="主頁" class="side-menu-gradient">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <ion-refresher pulling-text="欲更新內容，請拉下指令列..." on-refresh="loadData()"></ion-refresher>

    <ion-list class="dodgerblue-background">
      <ion-item class="light" ui-sref="page49" ng-repeat="survey in surveys | orderBy:'-'" style="">{{survey.banner_notizia}}</ion-item>
    </ion-list>


    <div class="profile-image">
      <img src="https://firebasestorage.googleapis.com/v0/b/defino-7d09f.appspot.com/o/KPSL.PNG?alt=media&amp;token=2d31402c-a6f6-4bd4-a159-9b3e1b42478f" style="display: block; width: 12%; height: auto; margin-left: auto; margin-right: auto;">
    </div>

    <div class="row">
      <div class="col">
        <a style="display:block;" ui-sref="page26">
          <img src="https://firebasestorage.googleapis.com/v0/b/defino-7d09f.appspot.com/o/Copertina%2F277x167(2).png?alt=media&amp;token=f4b0d830-7626-4fc7-88ff-0483fe9e2e5d" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="col">
        <a style="display:block;" ui-sref="ohMyGod">
          <img src="https://firebasestorage.googleapis.com/v0/b/defino-7d09f.appspot.com/o/Copertina%2F277x167(3).png?alt=media&amp;token=6836eea5-cf03-4ed2-85da-fc3e13440d07" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a style="display:block;" ui-sref="page29">
          <img src="https://firebasestorage.googleapis.com/v0/b/defino-7d09f.appspot.com/o/Copertina%2F277x167(1).png?alt=media&amp;token=67b08cfd-074a-447e-95e6-23a055877cdd" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="col">
        <a style="display:block;" ui-sref="page27">
          <img src="https://firebasestorage.googleapis.com/v0/b/defino-7d09f.appspot.com/o/Copertina%2F277x167(4).png?alt=media&amp;token=1310249b-151d-46a4-a45d-079db80aa68c" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a style="display:block;" ui-sref="page28">
          <img src="https://firebasestorage.googleapis.com/v0/b/defino-7d09f.appspot.com/o/Copertina%2F277x167(6).png?alt=media&amp;token=95ebe578-746a-4f2c-b942-03ff231a9120" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="col">
        <a style="display:block;" ui-sref="page48">
          <img src="https://firebasestorage.googleapis.com/v0/b/defino-7d09f.appspot.com/o/Copertina%2F277x167(5).png?alt=media&amp;token=3775a23a-cbc0-42e2-b8d6-726defabdd8f" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>