<ion-view title="電影「沉默」" id="page23">
  <ion-content padding="false" class="has-header">
    <form id="page23-form16" class="list">
      <div class="spacer" style="width: 320px; height: 23px;"></div>
      <label class="item item-input" id="page23-search10">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="data.search" ng-change="search()">
      </label>
    </form>
    <ion-list id="page23-list18">
      <ion-item class="item-thumbnail-left dark" id="page23-list-item20" ui-sref="etutorial({&quot;videokey&quot;:&quot;&quot;+etutorial.key+&quot;&quot;})" ng-repeat="etutorial in narrowed_etutorials">
        <img src="{{etutorial.image}}">
        <h2dark>{{etutorial.name}}
          <p style="white-space:normal;">{{etutorial.description}}</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 320px; height: 32px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="page23-slider3" style="width:100%;height:200px;">
      <ion-slide-page id="page23-slide26" ng-repeat="picture in pictures" style="background:url(&quot;{{picture}}&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 320px; height: 36px;"></div>
    <div id="page23-markdown336" class="show-list-numbers-and-dots">
      <p style="color:#000000;">他看起來一點也不像電影「蜘蛛人驚奇再起」、那位擁有神奇魔力和神速，在人群及天際間精準跳躍和翱翔的超人！ 。 他倒像是剛從沙漠中禁食了月餘，一個不苟言笑的修道人，其落魄的樣子也有點像被迫害的耶穌。這位好萊塢超級巨星，似乎已經從「蜘蛛人」，搖身一變、成為一剛剛逃離17世紀日本禁教迫害的葡萄牙耶穌會士，來飾演令人期待已久的導演馬丁史柯西斯的電影角色。
      </p>

      <p style="color:#000000;">第一次遇到安德魯·加菲爾（Andrew Garfield《蜘蛛人：驚奇再起》系列)，是在台北外雙溪中央電影製片廠，我有幸以耶穌會士身份協助拍攝，我的責任同時也是福利就是指導ㄧ群好萊塢、日本巨星們和其他演員們如何以拉丁語做彌撒，如何聽教友告解，以及彌撒程序禮儀。</p>

      <p style="color:#000000;">說穿了，我的工作也沒那麼困難，安德魯為準備飾演洛特里哥神父這個角色，早已經徹底研究了十七世紀天主教彌撒禮儀，並熟練掌握住拉丁彌撒進行程序及禮儀姿勢，他知道的可能比我這位50多年資歷的耶穌會士還要多，反而是他教會了我，如何主持當時的彌撒。</p>

      <p style="color:#000000;">安德魯和同台演員亞當崔佛(STAR WARS：原力覺醒、醉鄉民謠） 在來台拍攝前已經跟一位在美國紐約，著名的耶穌會士兼依納爵靈修導師及網路聞人馬丁神父，上過神修課、練過神操，以便幫助他們了解、準備好如何扮演耶穌會傳教士的的角色。</p>

      <p style="color:#000000;">在我們第一次聊天時，安德魯便坦白地告訴我，那次神操經驗不僅幫他準備入戲，也是他個人靈修之旅重要里程碑。歷經冥想耶穌的生活、沈思並想像祂的言行，做避靜來更認識耶穌、與耶穌建立個人關係，這些個人經驗，觸動他內心深處及情感。馬丁神父也說，他對安德魯做避靜時投入的熱情和程度印象深刻。安德魯還與我分享了他靈修之旅其他心得，他認為要在一充滿激烈競爭，講究個人主義、事業成功，爭取媒體關注的影視界，從事靈修是一個極大挑戰。</p>

      <p style="color:#000000;">有幾次我觀察他排練、飾演洛特里哥神父主持彌撒，他的舉手投足，經文朗誦，甚至他的拉丁語發音，無絲毫瑕痴。難怪馬丁神父會說，安德魯可以成為一個好的耶穌會神父！安德魯和導演史柯西斯有一共同點：他們會注意到每一個細節。</p>
    </div>
    <div class="spacer" style="width: 320px; height: 29px;"></div>
    <div id="page23-markdown337" class="show-list-numbers-and-dots">
      <p style="color:#000000;">講到細節，我不禁意識到安德魯閱讀的拉丁語彌撒經本有些奇怪，彌撒經本裡神父念的經文部份應該是用黑色墨水打印的，而附註的神父手勢的說明則是用紅墨水打印。可是這由道具部門精心製作的拉丁文彌撒經本卻恰恰相反，做反了。雖然這看起來是小事，甚至可能不會在大螢幕上被注意到，卻引起片場一陣騷動，只見美工藝術家和道具部門馬上集合起來，立即採取行動修改，在拍攝下一場景前，快馬加鞭做好一個全新、正確的拉丁文彌撒經本。</p>

      <p style="color:#000000;">導演史柯西斯在乎細節和要求表演精準的程度已經是影視界傳奇，這也是為什麼，每當發現或只是懷疑可能有錯誤時，總會引起片場一陣人仰馬翻。導演每天都親臨現場，仔細檢查每一個細節，注意每一種聲響（他堅持在排練和拍攝期間要絕對安靜），如果他不完全滿意，就會要求重拍一直到滿意為止。</p>

      <p style="color:#000000;">我曾經目睹有一個場景，重拍到十幾次，因為導演認為其中一個演員的表現可以再改善。他不會因為這演員拿捏尚未到位，而對那演員面露慍色。導演只是不斷鼓勵他，說：「越來越好。再來一次！」</p>

      <p style="color:#000000;">有一次彩排，飾演卡爾倍神父的亞當崔佛，在洛特里哥神父主持ㄧ小嬰兒的洗禮擔任輔祭，導演直覺戲裡還缺些什麼，便嘀咕著：「卡爾倍神父在這個場合應該要做一些事情，不只是在旁觀禮」，就要人去問片場當日值班的顧問，而我就是那位值班的神父，片場裡每個人都用期待的眼神盯著我，我想了一想，靈機一動，我建議：「亞當可以拿條毛巾，準備擦拭嬰兒的前額」。導演說：「對！對！趕快給亞當一條毛巾」，不久有20或30條毛巾出現在我面前：大的，小的，厚的，薄的，彩色的，素色的。顯然我已經成為洗禮毛巾的專家！ 接著友人問：「丁神父，哪一條？」。我從來沒見過任何一條17世紀的日本毛巾，即使多年前在日本，曾經指導拍攝「追憶沙勿略」紀錄片時，也面臨許多窘迫的抉擇經驗，我還是有點坎坷不安地挑選了一條，大概可以搭配當時貧困日本村落的毛巾。經過眾人檢查，導演也滿意，大家才鬆了一口氣！</p>
    </div>
    <div class="spacer" style="width: 320px; height: 29px;"></div>
    <div id="page23-markdown338" class="show-list-numbers-and-dots">
      <p style="color:#000000;">我覺得安德魯，不僅是一個特別認真和專業的演員，也熱衷追尋深邃的生命意義。在拍攝「沈默」這部電影時，這兩個形象經常交會在一起。安德魯問過我，一個耶穌會神父如何面對生活中的矛盾。他特別想了解是什麼樣的熱情，可以不斷驅使和支持一個耶穌會士為他人服務、犧牲，作為其終身使命。他也注意到一個耶穌會士，有時必須強迫控制他的情感和感性，甚至到壓抑或隱瞞的程度。為什麼會要這樣故作堅強？是要遵守獨身誓約？擔心失去控制？哪裏是平衡點？這些問題，我相信在安德魯飾演的洛特里哥神父也會問自己。</p>

      <p style="color:#000000;">我與他分享我個人的經驗為例子，說明一個耶穌會士如何適當表達感性的一面而不為過。例如，如果他太自由地和隨意地表達他的情感，他可能會發現自己陷入違反獨身的誓願。另一方面，如果他隱藏或抑制他的真實感情，他可能會顯得冷莫疏遠，不關心想與他分享和見證天主恩典的人。另外也必須考慮周到對方的個性和年齡。</p>

      <p style="color:#000000;">一個耶穌會士有時必須故作堅強和自信，隱藏自己的疑惑和誘惑，來安撫教友情緒，以確保教友們對福音的信心。然而在千鈞一髮危機的時刻，也可以像洛特里哥神父軟弱到質疑上帝的存在。</p>

      <p style="color:#000000;">吉次郎，由窪塚洋介飾演，是小說和電影中最令人稱奇的角色之一，他是安德魯在日本的夥伴和嚮導。吉次郎不止一次否認其信仰，在許多場合無恥地流露其軟弱，甚至背叛，令神父洛特里哥相當不恥和失望。相反的，神父洛特里哥為信仰盡其所有力量，不屈不撓，幾乎要殉道。他避免顯露自己的軟弱，甚至要逃避自己的軟弱。可是吉次郎看透了神父的堅強假面，出其不意地給神父致命一擊。</p>

      <p style="color:#000000;">在一場景中，吉次郎幫助洛特里哥逃避日本人的追捕，但是像猶達斯一樣，他心中另有盤算。在他們藏身叢林裡時，吉次郎向洛特里哥神父告解，他認罪的神情透露出軟弱、悔恨。儘管洛特里哥神父以堅定口吻赦免其罪，但是神父的無助的眼神和手勢已經透露出動搖。他開始懷疑。面對上帝的沉默，他感到被遺棄和無助。安德魯的表現十分反映了，耶穌會士在面臨這種情況下可能會有的內心的掙扎：一方面使力表現出堅強和自信，另一方面隱藏不住他的恐懼，懷疑和無助感。</p>

      <p style="color:#000000;">上述對話是他們在北台灣森林中拍攝的，目睹實況，我不禁熱淚熱盈眶，同情起兩位主角。拍完戲後，我對導演史柯西斯說，「其實我們的內心難免會經歷這兩種人性的衝突：有時我們意氣風發、不可一世，拒絕屈從或甚至承認我們有弱點，有時候我們深陷失望泥淖，失去了東山再起的希望。導演附和地說：「的確如此」</p>

      <p style="color:#000000;">小說和電影都從天主慈悲的角度看待我們的軟弱和失敗，祂甚至願意原諒我們最邪惡和無恥的行為。正如教宗教宗方濟各最近所說的：「沒有天主不能憐憫的罪惡」。</p>

      <p style="color:#000000;">吉次郎在許多方面是猶達斯的化身，從未對上主的憐憫和寬恕失去信心。弔詭的是這一點他比洛特里哥神父更具信德。甚至在告密並陷害神父於牢籠後，他還不斷地乞求神父聽他的告解，赦免他的罪行。更甚者他還苟活著，不同於知恥的猶達斯，在失去了所有希望後，自我了斷。</p>

      <p style="color:#000000;">當我第一次見到窪塚洋介時，他正準備扮演吉次郎的告解。我表明我是一個神父，若是他有任何告解問題，我會非常樂意協助。他不禁莞爾一笑地看著我，並說：「謝謝神父，我已經告解好多次了！」，這是真的，他的確不需要任何幫助！每次他告解，他的表現到位，完全令人信服！。我也經常這樣稱讚他！</p>
    </div>
    <div class="spacer" style="width: 320px; height: 29px;"></div>
    <div id="page23-markdown339" class="show-list-numbers-and-dots">
      <p style="color:#000000;">和大家熟悉後，我開始意識到，我的角色不僅僅是監督彌撒禮儀，更正細節或建議，演員們也期待我對他們演技的評語。安德魯說，我的讚美給他正能量。窪塚洋介感激我對他的讚賞，並謙虛地承認：他的動人的語調和自然的演技是上天賜予的禮物。</p>

      <p style="color:#000000;">安德魯事前靈修的準備，幫他扮演好在苦牢裡牧靈一景。在這場景，他領導教友朗頌聖詠62章（由導演史柯西斯親自挑選）</p>

      <p style="color:#000000;">『我的靈魂只有在天主內才得安寧， 我的救恩從祂而來。 祂是我的盤石，我的救主。 祂是我的堡壘，我穩立不搖。』
      </p>

      <p style="color:#000000;">面對這些痛苦和被上主遺棄的人，安德魯如一日本高僧跪在苦牢地板上，此刻安德魯演活了神父洛特里哥，他也已經化身為耶穌、安撫深陷恐懼與絕望的羊群，帶來黑暗中的皓光、希望。日本演員們的臉孔也隨著安德魯吟誦，流露出希望和恐懼。</p>

      <p style="color:#000000;">上述場景是如此逼真和令人回味，讓我的思緒不禁回到三十多年前，在泰國柬埔寨邊境一處難民營，我和一個法國耶穌會士和一群越南天主教難民在荒地裡做彌撒，難民的營地才在前晚被砲擊和毀滅，但是他們並沒有祈求食物或水或任何物質，只單純地想要一場能重振他們力量和希望的彌撒。</p>

      <p style="color:#000000;">在拍攝後，安德魯悄悄問我他的表現如何。我還在被戲裡的張力牽引，幾乎說不出話來。從我的表情，安德魯應該知道這場戲有多麽可歌可泣！</p>

      <p style="color:#000000;">然而面對天主令人痛心的的沉默，信德如磐石堅硬的洛特里哥神父也終於動搖！當吉次郎屢次背判神父，還不斷地乞求告解，洛特里哥神父心中的憤怒和厭惡幾乎無法讓他提起赦免的手。再加上苦牢裡基督徒中痛苦地呻吟，他無法再忍受上主的無情沉默，他開始絕望地、撕心裂肺般大喊，痛苦地尖叫。他覺得他是被天主聖父忽略、遺棄在十字架上的耶穌。</p>

      <p style="color:#000000;">安德魯在這個場景排演時，他似乎不滿意自己的表現。平常他對大家非常禮貌和溫柔，突然只見安德魯發出驚震全場嘶吼聲和連串詛咒，他好像失去了控制。機不可失，導演馬丁史柯西斯要大家立即開拍，安德魯已完美地化身成為深陷絕望的神父洛特里哥！才一下戲，安德魯又立即為剛才他的瘋狂失禮表現向大家道歉。</p>

      <p style="color:#000000;">後來和導演史柯西斯閒聊時，我說：「我不確定安德魯是否在演戲，或者已經精神崩潰」。導演也用無辜的眼睛看著我說「我也不知道！」，當我稍後問安德魯時，他只是淡然說：「我當時很開心！」。</p>

      <p style="color:#000000;">作為method acting派演員，他需要做一些極端的事，使他處於角色同樣的無奈、沮喪和憤怒的狀態。洛特里哥神父正歷經痛苦。那歇斯底里的怒喊，幫他入戲。顯然，導演史柯西斯沒錯估這位年輕演員傑出才華和敬業態度。</p>
    </div>
    <div class="spacer" style="width: 320px; height: 29px;"></div>
    <div id="page23-markdown340" class="show-list-numbers-and-dots">
      <p style="color:#000000;">「沈默」是導演史柯西斯畢生夢想之作(Passion)，遠在1989年，他在日本初次閱讀這部小說時，便對故事深感著迷，書中宗教意涵和靈性衝突不時與其生活經驗產生共鳴。Passion有時也另有所指，它可以指冗長的痛苦，如耶穌在十字架上死亡之前所受的折磨。導演馬丁史柯西斯沈醉於製作這部具有挑戰性的非商業電影，其過程也充滿波折艱辛，我看著他，不論在陰雨的冬日，裹著厚厚的外套和圍巾，徐行在台灣蔥鬱的山區森林泥寧小徑。或是頂著炎熱的盛暑，圍著能稍微降溫的冰袋，拍攝台灣波瀾壯闊的海灘。他和他的近五百位演員和製作團隊必須經常耐心地等待、迴避台灣常見的鳥鳴聲或附近的學校學生的玩耍聲，一直到現場絕對安靜，才能恢復拍攝，這些求好心切也導致拍片無數次延遲。</p>

      <p style="color:#000000;">有一天，一位電影製片人特別請求，要我祈禱讓拍片不再有延誤，因為進度遠落後計劃，超過預算。投資者和銀行也越來越緊張，有些還可能考慮撤資，萬一發生，後果不堪設想。於是在友人的建議下，我請求台灣的加爾默羅隱修院的修女（一為他人迫切需要代禱的隱修會），幫忙祈禱，希望能度過重重難關。</p>

      <p style="color:#000000;">現在電影終於殺青，大家引頸期盼已久導演史柯西斯的畢生夢想之作，終於可與全世界分享。製作電影的痛苦過程（Passion的另一面）已成過眼雲煙。也許只是我個人覺得辛苦，相對於導演史柯西斯和演員安德魯等人，他們或許更享受拍片的過程</p>

      <p style="color:#000000;">無論如何，導演史柯西斯已經又完成一個扣人心旋、回味無窮的電影史詩，肯定會攫獲和衝擊世界各地影迷的思維情緒。可不可以寄望「沈默」一片，能幫助觀眾體會到：</p>

      <p style="color:#000000;">在我們身處人生低潮或是困惑 不禁要懷疑天主為何如此沈默及遙遠時 天父的慈悲及憐憫仍然無所不在 </p>

      <p style="color:#000000;">後記： 在元月二十日首映記者會前，有短暫的十分鐘能和導演史柯西斯敘舊，談到教宗方濟各日前在觀賞過沈默影片後大加讚揚，並再次邀請他參加SIGNIS（天主教國際傳播協會）六月在魁北克的大會，接受SIGNIS頒發的終身成就獎，他露出受寵若驚的表情，不禁讓我想起，兩年前影片殺青酒會上，在建議他將來應帶著沈默影片晉見教宗時，當時他也如出一轍地露出相同的表情，真是一位老頑童。
      </p>
    </div>
    <div class="spacer" style="width: 320px; height: 29px;"></div>
  </ion-content>
</ion-view>