<ion-view title="天天與主親近 - 每日三時刻" id="page6">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/POP1.JPGaltmediatoken81f53ba6-9c84-40d9-8905-3d3b8c4921d4" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-refresher pulling-text="欲更新內容，請拉下指令列..." on-refresh="loadData()"></ion-refresher>
    <div class="spacer" style="width: 300px; height: 45px;"></div>
    <div id="page6-markdown225" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#1CB30F;font-size:17px;">{{survey.come_pregare0}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <div id="page6-markdown227" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#0EB1CF;font-size:17px;">{{survey.come_pregare1}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <div id="page6-markdown228" ng-repeat="survey in surveys | orderBy:'-'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:17px;">{{survey.come_pregare2}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
  </ion-content>
</ion-view>