<ion-view title="Soluzioni" id="page41">
  <ion-content padding="true" class="has-header">
    <div id="soluzioni-markdown179" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 punti</p>
    </div>
    <div id="soluzioni-markdown180" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 punti</p>
    </div>
    <div id="soluzioni-markdown181" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 punti</p>
    </div>
    <div id="soluzioni-markdown182" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 punti</p>
    </div>
    <div id="soluzioni-markdown183" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 punti</p>
    </div>
    <div id="soluzioni-markdown184" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 punti</p>
    </div>
    <div id="soluzioni-markdown185" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 punti</p>
    </div>
    <div id="soluzioni-markdown186" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 punti</p>
    </div>
    <div id="soluzioni-markdown187" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 punti</p>
    </div>
    <div id="soluzioni-markdown188" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 punti</p>
    </div>
    <div id="soluzioni-markdown189" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 punti</p>
    </div>
    <div id="soluzioni-markdown190" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 punti</p>
    </div>
    <div id="soluzioni-markdown191" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 punti</p>
    </div>
    <div id="soluzioni-markdown192" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 punti</p>
    </div>
    <div id="soluzioni-markdown193" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 punti</p>
    </div>
    <div id="soluzioni-markdown194" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 punti</p>
    </div>
    <div id="soluzioni-markdown195" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 punti</p>
    </div>
    <div id="soluzioni-markdown196" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 punti</p>
    </div>
    <div id="soluzioni-markdown197" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 punti</p>
    </div>
    <div id="soluzioni-markdown198" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 punti</p>
    </div>
    <div id="soluzioni-markdown199" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">80 punti</p>
    </div>
    <div id="soluzioni-markdown204" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">20 punti</p>
    </div>
    <div id="soluzioni-markdown200" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">80 punti</p>
    </div>
    <div id="soluzioni-markdown406" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">20 punti</p>
    </div>
    <div id="soluzioni-markdown201" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">80 punti</p>
    </div>
    <div id="soluzioni-markdown407" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">20 punti</p>
    </div>
    <div id="soluzioni-markdown202" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">80 punti</p>
    </div>
    <div id="soluzioni-markdown446" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">20 punti</p>
    </div>
    <div id="soluzioni-markdown203" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">80 punti</p>
    </div>
    <div id="soluzioni-markdown447" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">20 punti</p>
    </div>
    <div id="soluzioni-markdown210" ng-show="data.choice4!='Hai' &amp;&amp; data.choice5!='Dove' &amp;&amp; data.choice1!='ti' &amp;&amp; data.choice2!='hai' &amp;&amp; data.choice3!='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">0 punti</p>
    </div>
    <div id="soluzioni-markdown206" ng-show="data.choice4=='Hai' &amp;&amp; data.choice5=='Dove' &amp;&amp; data.choice1=='ti' &amp;&amp; data.choice2=='hai' &amp;&amp; data.choice3=='come'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">Bravo! 100 punti</p>
    </div>
    <form id="soluzioni-form32" class="list">
      <div id="soluzioni-markdown211" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Prima risposta:</p>
      </div>
      <ion-item class="item-icon-left energized" id="soluzioni-list-item10" ng-show="data.choice1=='ti'">
        <i class="icon ion-happy-outline"></i>*{{data.choice1}}* e' giusto!</ion-item>
      <ion-item class="item-icon-left positive" id="soluzioni-list-item18" ng-show="data.choice1!='ti'">
        <i class="icon ion-sad-outline"></i>*{{data.choice1}}* e' sbagliato</ion-item>
    </form>
    <form id="soluzioni-form47" class="list">
      <div id="soluzioni-markdown212" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Seconda risposta:</p>
      </div>
      <ion-item class="item-icon-left energized" id="soluzioni-list-item41" ng-show="data.choice2=='hai'">
        <i class="icon ion-happy-outline"></i>*{{data.choice2}}* e' giusto!</ion-item>
      <ion-item class="item-icon-left positive" id="soluzioni-list-item78" ng-show="data.choice2!='hai'">
        <i class="icon ion-sad-outline"></i>*{{data.choice2}}* e' sbagliato</ion-item>
    </form>
    <form id="soluzioni-form48" class="list">
      <div id="soluzioni-markdown213" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Terza risposta:</p>
      </div>
      <ion-item class="item-icon-left energized" id="soluzioni-list-item79" ng-show="data.choice3=='come'">
        <i class="icon ion-happy-outline"></i>*{{data.choice3}}* e' giusto!</ion-item>
      <ion-item class="item-icon-left positive" id="soluzioni-list-item81" ng-show="data.choice3!='come'">
        <i class="icon ion-sad-outline"></i>*{{data.choice3}}* e' sbagliato</ion-item>
    </form>
    <form id="soluzioni-form49" class="list">
      <div id="soluzioni-markdown214" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Quarta risposta:</p>
      </div>
      <ion-item class="item-icon-left energized" id="soluzioni-list-item84" ng-show="data.choice4=='Hai'">
        <i class="icon ion-happy-outline"></i>*{{data.choice4}}* e' giusto!</ion-item>
      <ion-item class="item-icon-left positive" id="soluzioni-list-item85" ng-show="data.choice4!='Hai'">
        <i class="icon ion-sad-outline"></i>*{{data.choice4}}* e' sbagliato</ion-item>
    </form>
    <form id="soluzioni-form50" class="list">
      <div id="soluzioni-markdown215" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Quinta risposta:</p>
      </div>
      <ion-item class="item-icon-left energized" id="soluzioni-list-item86" ng-show="data.choice5=='Dove'">
        <i class="icon ion-happy-outline"></i>*{{data.choice5}}* e' giusto!</ion-item>
      <ion-item class="item-icon-left positive" id="soluzioni-list-item88" ng-show="data.choice5!='Dove'">
        <i class="icon ion-sad-outline"></i>*{{data.choice5}}* e' sbagliato</ion-item>
      <div class="spacer" style="width: 300px; height: 40px;"></div>
      <div id="soluzioni-markdown450" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Risposte esatte:</p>
      </div>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <div id="soluzioni-markdown449" ng-repeat="message in messages" class="show-list-numbers-and-dots">
        <p style="color:#000000;">{{message.que1}} {{message.ans13}} {{message.que4}}
        </p>
      </div>
      <div id="soluzioni-markdown454" ng-repeat="message in messages" class="show-list-numbers-and-dots">
        <p style="color:#000000;">{{message.que2}} {{message.ans24}} {{message.que5}}
        </p>
      </div>
      <div id="soluzioni-markdown451" ng-repeat="message in messages" class="show-list-numbers-and-dots">
        <p style="color:#000000;">{{message.que3}} {{message.ans32}} {{message.que6}}
        </p>
      </div>
      <div id="soluzioni-markdown452" ng-repeat="message in messages" class="show-list-numbers-and-dots">
        <p style="color:#000000;">{{message.que7}} {{message.ans40}} {{message.que8}}
        </p>
      </div>
      <div id="soluzioni-markdown453" ng-repeat="message in messages" class="show-list-numbers-and-dots">
        <p style="color:#000000;">{{message.que9}} {{message.ans51}} {{message.que10}}
        </p>
      </div>
      <div class="spacer" style="width: 300px; height: 36px;"></div>
      <a ui-sref="imparaLItaliano1()" id="soluzioni-button24" class="button button-positive button-block">continua a studiare!</a>
    </form>
  </ion-content>
</ion-view>