<ion-view title="Solutions" id="page45">
  <ion-content padding="true" class="has-header">
    <div id="solutions-markdown409" ng-show="data.choice4!='old' &amp;&amp; data.choice5!='are' &amp;&amp; data.choice1=='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 pts</p>
    </div>
    <div id="solutions-markdown410" ng-show="data.choice4!='old' &amp;&amp; data.choice5!='are' &amp;&amp; data.choice1=='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3!='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 pts</p>
    </div>
    <div id="solutions-markdown411" ng-show="data.choice4!='old' &amp;&amp; data.choice5!='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 pts</p>
    </div>
    <div id="solutions-markdown412" ng-show="data.choice4=='old' &amp;&amp; data.choice5!='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 pts</p>
    </div>
    <div id="solutions-markdown413" ng-show="data.choice4!='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 pts</p>
    </div>
    <div id="solutions-markdown414" ng-show="data.choice4!='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3!='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 pts</p>
    </div>
    <div id="solutions-markdown415" ng-show="data.choice4!='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1=='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3!='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 pts</p>
    </div>
    <div id="solutions-markdown416" ng-show="data.choice4=='old' &amp;&amp; data.choice5!='are' &amp;&amp; data.choice1=='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3!='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 pts</p>
    </div>
    <div id="solutions-markdown417" ng-show="data.choice4=='old' &amp;&amp; data.choice5!='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3!='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 pts</p>
    </div>
    <div id="solutions-markdown418" ng-show="data.choice4=='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3!='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">40 pts</p>
    </div>
    <div id="solutions-markdown419" ng-show="data.choice4=='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3!='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 pts</p>
    </div>
    <div id="solutions-markdown420" ng-show="data.choice4=='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 pts</p>
    </div>
    <div id="solutions-markdown421" ng-show="data.choice4=='old' &amp;&amp; data.choice5!='are' &amp;&amp; data.choice1=='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 pts</p>
    </div>
    <div id="solutions-markdown422" ng-show="data.choice4=='old' &amp;&amp; data.choice5!='are' &amp;&amp; data.choice1=='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3!='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 pts</p>
    </div>
    <div id="solutions-markdown423" ng-show="data.choice4=='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1=='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3!='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 pts</p>
    </div>
    <div id="solutions-markdown424" ng-show="data.choice4!='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1=='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3!='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 pts</p>
    </div>
    <div id="solutions-markdown425" ng-show="data.choice4!='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1=='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 pts</p>
    </div>
    <div id="solutions-markdown426" ng-show="data.choice4!='old' &amp;&amp; data.choice5!='are' &amp;&amp; data.choice1=='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 pts</p>
    </div>
    <div id="solutions-markdown427" ng-show="data.choice4!='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 pts</p>
    </div>
    <div id="solutions-markdown428" ng-show="data.choice4=='old' &amp;&amp; data.choice5!='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">60 pts</p>
    </div>
    <div id="solutions-markdown429" ng-show="data.choice4=='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">80 pts</p>
    </div>
    <div id="solutions-markdown430" ng-show="data.choice1=='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3!='away' &amp;&amp; data.choice4!='old' &amp;&amp; data.choice5!='are'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">20 pts</p>
    </div>
    <div id="solutions-markdown431" ng-show="data.choice4=='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1=='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">80 pts</p>
    </div>
    <div id="solutions-markdown432" ng-show="data.choice4!='old' &amp;&amp; data.choice5!='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3!='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">20 pts</p>
    </div>
    <div id="solutions-markdown433" ng-show="data.choice4=='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1=='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3!='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">80 pts</p>
    </div>
    <div id="solutions-markdown434" ng-show="data.choice4!='old' &amp;&amp; data.choice5!='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">20 pts</p>
    </div>
    <div id="solutions-markdown435" ng-show="data.choice4!='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1=='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">80 pts</p>
    </div>
    <div id="solutions-markdown444" ng-show="data.choice4=='old' &amp;&amp; data.choice5!='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3!='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">20 pts</p>
    </div>
    <div id="solutions-markdown436" ng-show="data.choice4=='old' &amp;&amp; data.choice5!='are' &amp;&amp; data.choice1=='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">80 pts</p>
    </div>
    <div id="solutions-markdown445" ng-show="data.choice4!='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3!='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">20 pts</p>
    </div>
    <div id="solutions-markdown437" ng-show="data.choice4!='old' &amp;&amp; data.choice5!='are' &amp;&amp; data.choice1!='or' &amp;&amp; data.choice2!='Great' &amp;&amp; data.choice3!='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">0 pts</p>
    </div>
    <div id="solutions-markdown438" ng-show="data.choice4=='old' &amp;&amp; data.choice5=='are' &amp;&amp; data.choice1=='or' &amp;&amp; data.choice2=='Great' &amp;&amp; data.choice3=='away'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">Great! 100 pts</p>
    </div>
    <form id="solutions-form26" class="list">
      <div id="solutions-markdown439" class="show-list-numbers-and-dots">
        <p style="color:#000000;">First answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="solutions-list-item109" ng-show="data.choice1=='or'">
        <i class="icon ion-happy-outline"></i>*{{data.choice1}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="solutions-list-item110" ng-show="data.choice1!='or'">
        <i class="icon ion-sad-outline"></i>*{{data.choice1}}* is incorrect</ion-item>
    </form>
    <form id="solutions-form66" class="list">
      <div id="solutions-markdown440" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Second answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="solutions-list-item111" ng-show="data.choice2=='Great'">
        <i class="icon ion-happy-outline"></i>*{{data.choice2}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="solutions-list-item112" ng-show="data.choice2!='Great'">
        <i class="icon ion-sad-outline"></i>*{{data.choice2}}* is incorrect</ion-item>
    </form>
    <form id="solutions-form67" class="list">
      <div id="solutions-markdown441" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Third answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="solutions-list-item113" ng-show="data.choice3=='away'">
        <i class="icon ion-happy-outline"></i>*{{data.choice3}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="solutions-list-item114" ng-show="data.choice3!='away'">
        <i class="icon ion-sad-outline"></i>*{{data.choice3}}* is incorrect</ion-item>
    </form>
    <form id="solutions-form68" class="list">
      <div id="solutions-markdown442" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Fourth answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="solutions-list-item115" ng-show="data.choice4=='old'">
        <i class="icon ion-happy-outline"></i>*{{data.choice4}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="solutions-list-item116" ng-show="data.choice4!='old'">
        <i class="icon ion-sad-outline"></i>*{{data.choice4}}* is incorrect</ion-item>
    </form>
    <form id="solutions-form69" class="list">
      <div id="solutions-markdown443" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Fifth answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="solutions-list-item117" ng-show="data.choice5=='are'">
        <i class="icon ion-happy-outline"></i>*{{data.choice5}}* e' giusto!</ion-item>
      <ion-item class="item-icon-left positive" id="solutions-list-item118" ng-show="data.choice5!='are'">
        <i class="icon ion-sad-outline"></i>*{{data.choice5}}* is incorrect</ion-item>
      <div class="spacer" style="height: 100px;"></div>
    </form>
  </ion-content>
</ion-view>