<ion-view id="page1">
  <ion-tabs class="tabs-dark tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="目前祈禱" icon="ion-android-alarm-clock" href="#/page1/page2" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="教宗意向" icon="ion-android-checkbox-outline" href="#/page1/page3" id="tabsController-tab8">
      <ion-nav-view name="tab8"></ion-nav-view>
    </ion-tab>
    <ion-tab title="奉獻誦" icon="ion-android-sunny" href="#/page1/page5" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="如何祈禱" icon="ion-ios-heart-outline" href="#/page1/page6" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="主頁" icon="ion-ios-home-outline" href="#/page1/page18" id="tabsController-tab6">
      <ion-nav-view name="tab6"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>