<ion-view title="{{video.name}}" id="page55">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <ion-list id="tutoriale-list27">
      <ion-item class="item-thumbnail-left" id="tutoriale-list-item32" href-inappbrowser="{{video.id}}">
        <img src="{{video.image}}">
        <p style="white-space:normal;">{{video.name}}</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <div id="tutoriale-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{video.description}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div id="tutoriale-markdown41" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{video.long_descr}}</p>
    </div>
  </ion-content>
</ion-view>