<ion-view title="{{video.name}}" id="page53">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <ion-list id="tutorial-list23">
      <ion-item class="item-thumbnail-left" id="tutorial-list-item28" href-inappbrowser="{{video.id}}">
        <img src="{{video.image}}">
        <p style="white-space:normal;">{{video.name}}</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <div id="tutorial-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{video.description}}</p>
    </div>
    <div id="tutorial-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{video.long_descr}}</p>
    </div>
    <div id="tutorial-markdown28" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{video.long_descr1}}</p>
    </div>
  </ion-content>
</ion-view>